.wall {
    background-color: #11d537;
    width: 25px;
    height: 25px;
}

.cell {
    background-color: #5b5a5a;
    width: 25px;
    height: 25px;
}

.start {
    background-color: #5b5a5a;
    width: 25px;
    height: 25px;
    font-size: 5px;
    font-weight: bold;
    align-content: center;
}

.player {
    background-color: #0d0df5;
    width: 25px;
    height: 25px;

}

.finish {
    width: 25px;
    height: 25px;
    background-image: linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black),
    linear-gradient(45deg, black 25%, white 25%, white 75%, black 75%, black);
    background-size: 10px 10px;
    background-position: 0 0, 5px 5px;
}

.resetButton-fixed {
    background-color: #FF6961;
    width: 100px;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    align-content: center;
    position: fixed;
    top: 50px;
    right: -30px;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid #000;
    transform: translate(-50%, -50%);
}

.resetButton {
    background-color: #FF6961;
    width: 100px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    align-content: center;
    margin-bottom: 20px;
}

.timer{
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 5px;
    text-align: center;
    position: fixed;
    top: 50px;
    right: 20px;
    transform: translate(-50%, -50%);
    width: 200px;
    color: black;
}

.mazeContainer {
    display: flex;
}

.maze {
    flex-grow: 1;
}

.winBox {
    margin-left: 20px;
}

.winMessage {
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 5px;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001;
    width: 400px;
    color: black;
}
